.hero-home
  +clearfix
  position: relative
  padding: 1rem 0
  background: url(../images/hero-home-temp.jpg) no-repeat left center
  background-size: cover

  .tagline
    margin: 2em 0
    text-align: center
    font-size: 2em
    line-height: 1
    font-style: italic
    color: $white
    text-shadow: transparentize($gray-dark, .5) 0 0 10px, transparentize($gray-dark, .5) 0 0 20px

    span
      display: block
      font-size: 2rem
      img
        vertical-align: middle
        +size(auto 2rem)
        +filter(drop-shadow(transparentize($gray-dark, .15) 0 0 10px))

    +media($smallScreenUp)
      +position(absolute, 50% auto auto auto)
      width: 50%
      margin: -.75em 0 0 0
      font-size: 3em
      text-align: center
      span
        font-size: 3rem
        img
          +size(auto 3rem)

    +media($smallScreenUp)
      font-size: 2.5em

    +media($hugeScreenUp)
      font-size: 3.5em

  +media($mediumScreenUp)
    padding: 4rem 0

  .find-jobs-form-wrap
    display: none

    +media($smallScreenUp)
      display: block

    +media($mediumScreenUp)
      p
        +span-columns(6)
        +omega(2n)

  +media($smallScreenUp)
    .find-jobs-form-wrap
      float: right


.homepage-cdl-tests-callouts
  padding: 4rem 0 0
  text-align: center
  +media($smallScreenUp)
    padding: 4rem 0

  .cdl-test-callouts
    +row

  .cld-tests-callout-header
    margin-bottom: 3em
    p
      max-width: 46rem
      margin: 1em auto

  .cdl-test-callout

    +media($smallScreenUp)
      +span-columns(4)
      +omega(3n)

.find-jobs-form-wrap.homepage-body
  +media($smallScreenUp)
    display: none


.news-resources-wrap
  padding: 2rem 0
  border-top: 1px solid  darken($yellow, 4)
  background: $yellow //lighten($gray-lighter, 4)
  +media($smallScreenUp)
    padding: 4rem 0

  .sub-section-title
    color: darken($yellow, 20) //$gray-medium

  .trucker-news-item
    +clearfix
    margin-bottom: 1.5rem
    padding: 1rem
    background: lighten($yellow, 10)

    img
      float: left
      +size(80px)
      margin-right: 1rem

    .title
      margin: 0 0 .25em
      font-size: 1.1em
      font-weight: 600
      line-height: 1.1
      color: $base-text-color

    .comment-count
      font-size: .75em

  .resources
    img
      margin-bottom: 1rem
      box-shadow: transparentize($gray-dark, .875) 8px 8px 0 -3px

  +media($smallScreenUp)
    section
      +span-columns(6)

    .resources
      padding-left: 1rem


