$footer-bg: darken($gray-dark, 5)

.site-footer
  background: $tr-blue url("../images/bg-footer.jpg") center center
  background-size: cover
  border-top: 5px solid $orange
  color: $gray-medium

  .footer-top
    padding: 2rem 1rem
    text-align: center
    +media($smallScreenUp)
      padding: 4rem 1rem


  nav
    a
      display: inline-block
      margin-right: 1em
      font-size: .85em
      line-height: 1
      text-transform: uppercase
      +link-color($gray-medium)
      &.advertising
        +link-color($green)

  .advertise-callout
    h3
      margin: 0 1em .5em 0
      padding-bottom: .25em
      text-transform: uppercase
      font-size: 1.75em
      font-weight: 300
      color: $white
      letter-spacing: .025em
      color: $green
      border-bottom: 1px solid

    a
      +simple-btn($green)
      margin-top: .5rem
      padding: 1em 1.5em

  .copyright p
    margin: 0
    padding: 2em 0
    background: transparentize(#000, .35)
    text-align: center
    font-size: .75em
    line-height: 1
    color: darken($gray-medium, 20)

    a
      color: darken($gray-medium, 20)


