.site-header
  +clearfix
  position: relative
  padding: 1rem
  border-bottom: 1px solid $gray-light

  .logo
    display: block
    img
      vertical-align: top
      +size(100% auto)
      max-width: 160px
    +media($smallScreenUp)
      margin-bottom: .5em


  .open-nav
    +position(absolute, 25% 1rem auto auto)
    font-size: 1.5em
    color: $gray-dark
    +media($mediumScreenUp)
      display: none

  nav
    display: none
    a
      +transition()
      display: inline-block
      vertical-align: middle
      margin-right: 1.5%
      font-size: .75em
      line-height: 1
      font-weight: 500
      text-transform: uppercase
      color: darken($gray-medium, 10)
      &:hover, &:active, &.active
        color: $blue

      &:last-child
        margin-right: 0

  .search-anchor-link
    display: none
    +position(absolute, auto 1.5rem 1rem auto)
    margin-top: -.75em
    +link-color($gray-medium)


  +media($mediumScreenUp)
    nav, .search-anchor-link
      display: block

  +media($largeScreenUp)
    .logo
      display: inline-block
      vertical-align: middle
      width: 12%
      margin-bottom: 0

    nav
      display: inline-block
      vertical-align: middle
      width: 80%
      margin-right: 0
      margin-left: 1.5%

    .search-anchor-link
      +position(absolute, 50% 1.5rem auto auto)
      margin-top: -.75em
