<footer class="site-footer">
  <div class="footer-site-search-wrapper">
    <div class="container">
      <form class="footer-site-search" id="site-search">
        <input type="text" placeholder="Search Truckers Report">
        <button type="submit"> <i class="fa fa-search fa-lg"></i> </button>
      </form>
    </div>
  </div>

  <div class="footer-top container">
    <nav>
      <%= link_to 'About', '#' %>
      <%= link_to 'Trucker News', '#' %>
      <%= link_to 'Library', '#' %>
      <%= link_to 'Contact', '#' %>
    </nav>

    <section class="advertise-callout">
      <h3>Advertise with Us!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a href="#">Learn More!</a>
    </section>
  </div>
  <div class="copyright">
    <p><a href="#">Privacy Policy</a> | Copyright © 2015 TruckersReport.com</p>
  </div>
</footer>