<div class="container narrow">
  <section class="comments-wrapper">
    <header class="commments-header">
      <hr>
      <h2>Comments</h2>
      <p><span class="comment-number">32</span> comments. <a href="#comment-form">Add a comment</a>.</p>
    </header>

    <div class="comment">
      <header class="comment-header">
        <%= image_tag "avatar.png" %>
        <h5>User Name</h5>
        <p class="post-date">March 13, 2015 at 7:25 am</p>
      </header>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <a href="#" class="reply">Reply</a>
    </div>

    <div class="comment">
      <header class="comment-header">
        <%= image_tag "avatar.png" %>
        <h5>User Name</h5>
        <p class="post-date">March 13, 2015 at 7:25 am</p>
      </header>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <a href="#" class="reply">Reply</a>
    </div>

    <div class="comment depth-2">
      <header class="comment-header">
        <%= image_tag "avatar.png" %>
        <h5>User Name</h5>
        <p class="post-date">March 13, 2015 at 7:25 am</p>
      </header>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <a href="#" class="reply">Reply</a>
    </div>

    <div class="comment">
      <header class="comment-header">
        <%= image_tag "avatar.png" %>
        <h5>User Name</h5>
        <p class="post-date">March 13, 2015 at 7:25 am</p>
      </header>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <a href="#" class="reply">Reply</a>
    </div>

    <form class="leave-comment-form">
      <h2>Leave a Comment</h2>
      <fieldset class="commentor-info">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Website">
      </fieldset>
      <fieldset>
        <textarea rows="4"></textarea>
      </fieldset>
      <fieldset class="form-actions">
        <button type="submit">Add Comment</button>
      </fieldset>
    </form>
  </section>
</div>
