<div class="company-block">
  <a href="/" class="link-wrap">

    <header>
      <div class="company-logo-rating">
        <div class="sub-group">
          <%= image_tag 'foley_services_logo.png' %>
        </div>
        <div class="sub-group">
          <div class="rating-wrap">
            <div class="rating-stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
          <span class="company-rating-total"><small>37 Reviews</small></span>
        </div>
      </div>
      <div class="company-name">
        <h3>Foley Carrier Services</h3>
      </div>
    </header>

    <div class="company-review-block-review equal-height-div">
      <h5>Latest Review</h5>
      <div class="review-entry-rating-wrap">
          <ul class="rating-matrix">
    <li>
      <span>Overall</span>
      <div class="rating">
        <i class="fa fa-star star-on"></i>
        <i class="fa fa-star star-on"></i>
        <i class="fa fa-star star-on"></i>
        <i class="fa fa-star-half-o star-on"></i>
        <i class="fa fa-star-o"></i>
      </div>
    </li>
    <li>
      <span>Home Time</span>
      <div class="rating">
        <i class="fa fa-star star-on"></i>
        <i class="fa fa-star-half-o star-on"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
    </li>
    <li>
      <span>Equipment and Maintenance</span>
      <div class="rating">
        <i class="fa fa-star star-on"></i>
        <i class="fa fa-star star-on"></i>
        <i class="fa fa-star star-on"></i>
        <i class="fa fa-star-half-o star-on"></i>
        <i class="fa fa-star-o"></i>
      </div>
    </li>
    <li>
      <span>Dispatchers and Managers</span>
      <div class="rating">
        <i class="fa fa-star star-on"></i>
        <i class="fa fa-star star-on"></i>
        <i class="fa fa-star star-on"></i>
        <i class="fa fa-star star-on"></i>
        <i class="fa fa-star-o"></i>
      </div>
    </li>
  </ul>
      </div>
      <p class="review-content">
        I was driving for HW when I became very sick . I had to come out of the truck because I had gotten to the point in my disease I was becoming a road danger. . I was very tired and weak like any good company HW thinks safety and workers health first. HW treated me better than any company I'd ever driven for...
      </p>
    </div>
    <footer>
      <div class="sub-group">
        <p class="company-type"><small>Type</small> Flatbed</p>
      </div>
      <div class="sub-group">
        <span class="read-more">Info & Reviews</span>
      </div>
    </footer>
  </a>
</div>
