<div class="job-posting-block">
  <header class="job-posting-block-header">
    <figure><%= image_tag 'foley_services_logo.png' %></figure>
    <a href="/" class="block-headline">Werner is Hiring CDL-A Drivers for Solos, Teams & Trainers!</a>
    <a href="/" class="show">Show Details</a>
  </header>
  <div class="job-posting-block-content">
    <p><a href="/"><b>Foley Carrier Services</b></a> <span>is offering jobs in</span> <b>Missouri, Ohio, Alabama, Illinois, Vermont, and 43 others</b></p>
  </div>
  <footer class="job-posting-block-footer">
    <a href="/" class="job-posting-tag">Company Drivers</a>
    <a href="/" class="job-posting-tag">Dry Van</a>
    <a href="/" class="job-posting-tag">OTR (Long Haul)</a>
    <a href="/" class="job-posting-tag">Regional</a>
  </footer>
</div>
