<%= partial "views/job-type-callouts-bar" %>

<header class="page-header">
  <div class="container">
    <h2 class="page-title">Contact Us</h2>
    <hr>
    <h3 class="page-subtitle">To contact us by mail, please use the following address</h3>
  </div>
</header>

<div class="main-content">
  <div class="container narrow">

    <address class="contact-us-info">
      <p>TruckersReport LLC</p>
      <p>1250 Broadway, 36th Floor</p>
      <p>New York, NY 10001</p>
      <p>413-591-8464</p>
    </address>

    <p><i>The fastest way to get a response is using the contact form below.</i></p>

    <div class="center-form-wrap">
      <form>
        Holder for woofu form.
      </form>
    </div>

  </div>
</div>

<div class="find-jobs-form-wrap form-wide">
    <%= partial "views/find-job-form" %>
</div>

