<%= partial "views/job-type-callouts-bar" %>

<header class="page-header">
  <div class="container">
    <h2 class="page-title">Trucking Schools & CDL Training</h2>
    <hr>
    <h3 class="page-subtitle">DLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
    <div class="social-link-wraper">
      <i class="fa fa-facebook-official fa-lg"></i>
      <i class="fa fa-twitter-square fa-lg"></i>
      <i class="fa fa-google-plus-square fa-lg"></i>
    </div>
  </div>
</header>

<div class="main-content">
  <div class="container">
    <div class="state-school-links-wrap">
       <a href="/trucking-school-state-detail" class="state-link">State</a>
       <a href="/trucking-school-state-detail" class="state-link disabled">State</a>
       <a href="/trucking-school-state-detail" class="state-link">State</a>
       <a href="/trucking-school-state-detail" class="state-link disabled">State</a>
       <a href="/trucking-school-state-detail" class="state-link disabled">State</a>
       <a href="/trucking-school-state-detail" class="state-link">State</a>
       <a href="/trucking-school-state-detail" class="state-link disabled">State</a>
       <a href="/trucking-school-state-detail" class="state-link">State</a>
       <a href="/trucking-school-state-detail" class="state-link">State</a>
       <a href="/trucking-school-state-detail" class="state-link disabled">State</a>
       <a href="/trucking-school-state-detail" class="state-link disabled">State</a>
       <a href="/trucking-school-state-detail" class="state-link disabled">State</a>
       <a href="/trucking-school-state-detail" class="state-link">State</a>
       <a href="/trucking-school-state-detail" class="state-link">State</a>
       <a href="/trucking-school-state-detail" class="state-link disabled">State</a>
       <a href="/trucking-school-state-detail" class="state-link">State</a>
       <a href="/trucking-school-state-detail" class="state-link">State</a>
        <a href="/trucking-school-state-detail" class="state-link disabled">State</a>
        <a href="/trucking-school-state-detail" class="state-link">State</a>
        <a href="/trucking-school-state-detail" class="state-link disabled">State</a>
        <a href="/trucking-school-state-detail" class="state-link">State</a>
        <a href="/trucking-school-state-detail" class="state-link disabled">State</a>
        <a href="/trucking-school-state-detail" class="state-link">State</a>
        <a href="/trucking-school-state-detail" class="state-link">State</a>
        <a href="/trucking-school-state-detail" class="state-link">State</a>
        <a href="/trucking-school-state-detail" class="state-link">State</a>
        <a href="/trucking-school-state-detail" class="state-link">State</a>
        <a href="/trucking-school-state-detail" class="state-link">State</a>
        <a href="/trucking-school-state-detail" class="state-link">State</a>
        <a href="/trucking-school-state-detail" class="state-link">State</a>
        <a href="/trucking-school-state-detail" class="state-link">State</a>
        <a href="/trucking-school-state-detail" class="state-link">State</a>
    </div>
  </div>

</div>

<div class="find-jobs-form-wrap form-wide">
  <%= partial "views/find-job-form" %>
</div>