<%= partial "views/job-type-callouts-bar" %>

<header class="page-header">
  <div class="container">
    <h2 class="page-title">California Trucking Schools</h2>
    <hr>
    <h3 class="page-subtitle">DLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
    <div class="social-link-wraper">
      <i class="fa fa-facebook-official fa-lg"></i>
      <i class="fa fa-twitter-square fa-lg"></i>
      <i class="fa fa-google-plus-square fa-lg"></i>
    </div>
  </div>
</header>

<div class="state-map">
  <div class="container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3380339.4887389415!2d-117.78469345!3d34.16903404999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c325a785c9a649%3A0x7223c333f40c68d8!2sSouthern+California!5e0!3m2!1sen!2sus!4v1427483238341" width="100%" height="400" frameborder="0" style="border:0"></iframe>
  </div>
</div>

<div class="state-school-listing-wrapper">
  <div class="container">

    <div class="state-school-listing listing-header">
      <p class="school-name">Name</p>
      <p class="school-city">City</p>
      <p class="school-training">Training</p>
      <p class="school-cost">Cost</p>
    </div>

    <div class="state-school-listing">
      <p class="school-name"><a href="/trucking-school-school-detail">Trucking School Name</a></p>
      <p class="school-city">Sacramento</p>
      <p class="school-training"><span class="label">Training</span>120 hours of class, "as often as you like" in truck</p>
      <p class="school-cost"><span class="label">Cost</span>$3,200</p>
      <p class="school-detail-link"><a href="/trucking-school-school-detail">Learn More</a></p>
    </div>

    <div class="state-school-listing">
      <p class="school-name"><a href="/trucking-school-school-detail">Trucking School Name</a></p>
      <p class="school-city">Sacramento</p>
      <p class="school-training"><span class="label">Training</span>120 hours of class, "as often as you like" in truck</p>
      <p class="school-cost"><span class="label">Cost</span>$3,200</p>
      <p class="school-detail-link"><a href="/trucking-school-school-detail">Learn More</a></p>
    </div>
    <div class="state-school-listing">
      <p class="school-name"><a href="/trucking-school-school-detail">Trucking School Name</a></p>
      <p class="school-city">Sacramento</p>
      <p class="school-training"><span class="label">Training</span>120 hours of class, "as often as you like" in truck</p>
      <p class="school-cost"><span class="label">Cost</span>$3,200</p>
      <p class="school-detail-link"><a href="/trucking-school-school-detail">Learn More</a></p>
    </div>
    <div class="state-school-listing">
      <p class="school-name"><a href="/trucking-school-school-detail">Trucking School Name</a></p>
      <p class="school-city">Sacramento</p>
      <p class="school-training"><span class="label">Training</span>120 hours of class, "as often as you like" in truck</p>
      <p class="school-cost"><span class="label">Cost</span>$3,200</p>
      <p class="school-detail-link"><a href="/trucking-school-school-detail">Learn More</a></p>
    </div>
    <div class="state-school-listing">
      <p class="school-name"><a href="/trucking-school-school-detail">Trucking School Name</a></p>
      <p class="school-city">Sacramento</p>
      <p class="school-training"><span class="label">Training</span>120 hours of class, "as often as you like" in truck</p>
      <p class="school-cost"><span class="label">Cost</span>$3,200</p>
      <p class="school-detail-link"><a href="/trucking-school-school-detail">Learn More</a></p>
    </div>
    <div class="state-school-listing">
      <p class="school-name"><a href="/trucking-school-school-detail">Trucking School Name</a></p>
      <p class="school-city">Sacramento</p>
      <p class="school-training"><span class="label">Training</span>120 hours of class, "as often as you like" in truck</p>
      <p class="school-cost"><span class="label">Cost</span>$3,200</p>
      <p class="school-detail-link"><a href="/trucking-school-school-detail">Learn More</a></p>
    </div>
  </div>

</div>

<div class="find-jobs-form-wrap form-wide">
  <%= partial "views/find-job-form" %>
</div>
